---
interface Props {
  icon: string;
  tooltip: string;
  color?: string;
}

const { icon, tooltip, color } = Astro.props;
---
<span class="icon-badge" style={color ? `--badge-color: ${color}` : undefined}>
  {icon}<span class="icon-badge-tooltip">{tooltip}</span>
</span>
